.img-left{
    float: left;
    max-width: 600px;
}

@media(min-width: $breakpoint-md){
    .img-left-md{
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
        line-height: 22px;
    }
}