.cabecalho{
    background: $cor-leitura;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    box-shadow: -17px -9px 14px 10px #c73390e0;
    @media(min-width: $breakpoint-lg){       
        .menu-principal{
            position: fixed;
            right: 20px;       
            top: 40px;                   
        }
        }
 }