@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Sora:wght@200&display=swap');

*{
    font-family: 'Sora', sans-serif;
}

html{
    background: linear-gradient(#ff9f1c, #ef476f) no-repeat;
    height: 100%;    
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    height: 300px;  
    width: auto;
    gap: 100px 10px; 
    
}



.background{
   
    width: 100%;
    text-align: center;
}

.title{
font-size: 40px;
color: #ffffff;
font-weight: bold;
}
.subtitle{
font-size: 20px;
color: #ffffff;
font-weight: bold;
}
.under-subtitle{
font-size: 10px;
color: #ffffff;
font-weight: bold;
}