@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400&display=swap');
 
body{
    font-family: 'Sora', sans-serif;
}
 
#questionText {
    background-color: rgba(248, 14, 104, 0.5);
    border-radius: 10px;
}
 
.choice-container {
    display: flex;
    margin-bottom: 0.6rem;
    width: 100%;
    border-radius: 8px;
    background: rgba(4, 252, 252, 0.4);
    font-size: 1.5rem;
    min-width: 1rem;
    padding: 0.01%;
    margin-top: 1.1rem;
  }
 
 
.choice-container:hover {
    cursor: pointer;
    background: rgba(4, 252, 252, 0.6);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(36, 131, 134);
    transform: scale(1.02);
    transform: transform 100ms;
  }
 
  .choice-prefix {
    padding: 1rem 0.5 rem;
    color: white;
    margin-right: 2rem;
    margin-left: 3rem;
  }
 
  .choice.text {
    padding: 0.1rem;
    width: 100%;
   }
 
  .correct {
    background: linear-gradient(
      32deg,
      rgba(11, 223, 36) 05,
      rgb(41, 232, 111) 100%
    );
  }
 
  .incorrect {
    background: linear-gradient(
      32deg,
      rgba(230, 29, 29, 1) 05,
      rgb(224, 11, 11, 1) 100%
    );
  }
 
  /* Heads up Display */
  #hud {
    display: flex;
    justify-content: space-between;
  }
 
  .hud-prefix {
    text-align: center;
    font-size: 2.1rem;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    opacity: 0.9;
    margin-bottom: 0.5px;
  }
 
  .hud-main-text {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 4px;
    margin-top: 12px;
    background: linear-gradient(90deg, #29bf12 0%, #00f5d4 100%);
    border-radius: 10%;
      }
 
  #progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.3rem solid rgb(31, 216, 114);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 15px;
  }
 
  #progressBarFull {
    height: 100%;
    background: rgb(31, 216, 114);
    width: 0%;
  }
 
  @media screen and (max-width: 768px) {
    .choice-container {
      min-width: 40rem;
    }
  }
 

