body {
    color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    background: linear-gradient(90deg, #9b5de5 0%, #00f5d4 100%)
}
 
#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    color: #FFB2E6;
    line-height: 5rem;
    font-weight: bold;
    align-items: center;
    align-content: center;
    }
 
.high-score {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

#finalScore {
    font-size: 60px;
    display: flex;
    align-items: center;
    align-content: center;
    }

.btn {
    font-size: 2rem;
    padding: 1rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, #fee440 0%, #f15bb5 100%);
    border-radius: 15px;
    opacity: 90%;
    display: block;
margin-left: auto;
margin-right: auto;
}
 
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8,114,244,0.6);
    transition: transform 150ms;
    transform: scale(1.04);
    opacity: 100%;
}
 
.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}