// .logo {
//     background-image: url("../img/logo3.png");
//     background-repeat: no-repeat;
//     text-indent: -9999px;
//     display: block;
//     margin: 0;
//     width: 80px;
//     height: 88px;
    
        
//     &--branco{
//         background-image: url("../img/logooo.png");
//         width: 180px;
//         height: 300px;
//        }
    
//     }

.logo{
    height: 100px;
    width: 90px; 
    margin-bottom: 3px;
    float: left;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    float: left;
}

.logo-rodape{
    height: 220px;
    width: 153px; 
}

.logo img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    display: block;
}