@font-face {
    font-family: 'Sora', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');
 }

 @font-face {
    font-family: "Showcard Gothic"; 
    src: url("//db.onlinewebfonts.com/t/d66fa62dabed66f2226a1b2d17da0579.eot"); src: url("//db.onlinewebfonts.com/t/d66fa62dabed66f2226a1b2d17da0579.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d66fa62dabed66f2226a1b2d17da0579.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d66fa62dabed66f2226a1b2d17da0579.woff") format("woff"), url("//db.onlinewebfonts.com/t/d66fa62dabed66f2226a1b2d17da0579.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d66fa62dabed66f2226a1b2d17da0579.svg#Showcard Gothic") format("svg"); }

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Sora:wght@200&display=swap');
