@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Sora:wght@200&display=swap');

*{
    font-family: 'Sora', sans-serif;
}

.html-extras{
    background-color: #f7ede2;
}


.container-extras{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: space-around;
    width: auto;
    height: 60vh;
    position: absolute;
    top: 200px;
    align-content: center;
    text-align: center;
    width: 100%;
    
}

.container-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: space-around;
    margin-bottom: 50px;
    
}

.background{      
    width: 100%;
    text-align: center;
    height: 100vh;
    background: linear-gradient(#ff9f1c, #ef476f) no-repeat;   
    
}

.title{
font-size: 100px;
color: #f7ede2;
font-weight: bold;
text-align: center;
font-family: "Showcard Gothic"; 
}
.subtitle{
font-size: 20px;
color: #ffffff;
font-weight: bold;
}
.under-subtitle{
font-size: 10px;
color: #ffffff;
font-weight: bold;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, #9b5de5 0%, #00f5d4 100%);
    border-radius: 4px;
    opacity: 90%;
    border: 3px solid #ff9f1c;
    box-shadow: 4px 4px 12px 2px #682958;
}
 
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8,114,244,0.6);
    transition: transform 150ms;
    transform: scale(1.04);
    opacity: 100%;
}
 
.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
 
#btnTrivia {
    background: linear-gradient(90deg, #fee440 0%, #f15bb5 100%);
    opacity: 90%;
}
#highscore-btn {
    background: linear-gradient(90deg, #2ec4b6 0%, #ffbf69 100%);
    opacity: 90%;
}
 
#highscore-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5);
    opacity: 100%;
   }
 
.fa-crown {
    font-size: 2.5rem;
    margin-left: 1rem;
}
 
#title-jogos{
    margin: 60px;
    color: #f15bb5;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;    
}

#barto{
    position: absolute;
    top: 410px;
    left: 0;
}
#koda{
    position: absolute;
    top: 340px;
    right: -40px;
}

.gato-sticky{
    height: 150px;
    position: sticky;
    top: 90px;
    margin-top: 100px;
}    

#gato{
    height: 100%;
}

.gatito{
    position: relative;
    top: 90px;
    right: 10px;
    height: 200px;
}
#gatito{
    height: 100%;
    float: right;
    margin-right: 30px;
    position: absolute;
    bottom: 330px;
    right: 210px;

}